@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.dfont');
}

/*navbar*/
.navbar-default {
}

.navbar {
  min-height: 70px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  margin-top: -70px;
}

.navbar-default .navbar-nav>li>a {
  font-family: "Helvetica";
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 20px 0 20px;
  color: black;
}

/* Login and Signup */
.topImage {
  background: url("http://dojofitness.dojo.netdna-cdn.com/images/section-one-background.jpg");
  height: 500px;
  background-size: auto 500px;
  background-position: center;
  position: relative;
  z-index: 10;
  padding-top: 40px;
}

.userform {
  background-color: transparent;
  color: #00D39E;
}

label {
  font-size: 16px;
}

.btn-primary{
  background: linear-gradient(to right, #14cfd9 0%,#4cd57c 100%);
  border-color: #4cd57c;
}

/* Home state */
.homepage {
  margin-top: 20px;
}

canvas {
  z-index: 10;
  margin-top: 20px;
}

.burnRate {
  padding-top: 0px;
  padding-bottom: 0px;
}

.homeAll {
  text-align: center;
  font-size: 22px;
}

.homeAllDiv{
  padding-bottom: 0px;
  margin-top: 20px;
}

.homeTotal {
  font-size: 20px;
  text-align: center;
}

.homeList {
  margin-top: 0px;
}

.redout {
  /*border-color: red;
  border-style: solid;
  border-width: 15px;*/
  background-color: #ff9696;
  font-style: bold;
}

.homeTrash {
  float: right;
  /*border-color: black;*/
  background-color: #00D39E;
}

.homePay {
  float: right;
  background-color: #00D39E;
}

.homeTrash:hover {
  float: right;
  /*border-color: black;*/
  background-color: red;
}

.homeListDate {
  display: inline-block;
}

.doughnut-legend, .polararea-legend {
  font-size: 20px;
}

.btn-toggle {
  margin-top: 5px;
  margin-left: -5px;
}

/* Index HTML */
.uiview {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D3D8DC;
}

body {
  background-color: #f1f1f1;
  margin-top: 70px;
}

header {

}

/* Create form */
.panel-title {
  text-align: center;
}

.formTitle {
  font-size: 16px;
}

.img-responsive {
  max-height: 50px;
}

/* Detail Page */
.btn-danger {
  background-color:black;
  border-color: black;
}

.img-show {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 40px;
}

.showedit {
  margin-bottom: 5px;
}

.panel-show {
  height: 100%;
}