<div ng-controller="EventsController as eventsCtrl">  
  <h1>Add Event</h1>
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Add A New Event</h3></div>
    <div class="panel-body">
      <form id="new-event-form" ng-submit="eventsCtrl.addEvent(eventsCtrl.newEvent.date,eventsCtrl.newEvent.category,eventsCtrl.newEvent.amount,eventsCtrl.newEvent.paid,eventsCtrl.newEvent.invoice)">
        <div class="form-group">    
            <input type="text" name="date" ng-model="eventsCtrl.newEvent.date" placeholder="Date" class="form-control">
          </div>
        <div class="form-group">
          <input type="text" name="category" ng-model="eventsCtrl.newEvent.category" placeholder="Category" class="form-control">
        </div>
        <div class="form-group">
          <input type="number" name="amount" ng-model="eventsCtrl.newEvent.amount" placeholder="Amount" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="paid" ng-model="eventsCtrl.newEvent.paid" placeholder="Paid?" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="invoice" ng-model="eventsCtrl.newEvent.invoice" placeholder="Invoice" class="form-control">
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-info btn-block">Add Event</button>
        </div>
      </form>
    </div>
  </div>
</div>