<div class="container">
  <h1> You have {{ eventsCtrl.events.length || 0 }} entries</h1>

  <h2 ng-show="eventsCtrl.events.length">All Entries:</h2>

  <div class="list-group">
    <a ng-repeat="event in eventsCtrl.events track by $index" href="#/events/{{ event._id }}" class="list-group-item">
        <h3 class="list-group-item-heading">{{ event.date | date:"MM/dd/yyyy" }} {{ event.category }}</h3>
        <p class="list-group-item-text">{{ event.amount | currency}} {{event.id}}
          <span ng-if="!event.paid">
            NEEDS TO BE PAID
          </span>
          <span ng-if="event.invoice">
            <img class="img-responsive" src="{{event.invoice}}">
          </span> 
        </p>
      </a>
  </div>

  <event-form></event-form>
</div>