<div class="container homepage"> 
  <div class="panel panel-default panel-show col-md-8 col-md-offset-2" ng-hide="eventDetailsCtrl.editing">
    <div class="panel-heading">
      <h3 class="panel-title">Single Event:</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <h1>{{ eventDetailsCtrl.event.category }}</h1><h2>{{ eventDetailsCtrl.event.date | date:"MM/dd/yyyy" }}</h2>
        <h3><strong>Amount</strong>: {{ eventDetailsCtrl.event.amount | currency}}</h3>
      </div>
      <div class="col-md-6" ng-show="eventDetailsCtrl.event.invoice">
        <img class="img-show" src="{{eventDetailsCtrl.event.invoice}}"/>
      </div>
      <div class="col-md-6" ng-hide="eventDetailsCtrl.event.invoice">
        <img class="img-show" src="/images/showfile.png"/>
      </div>
    <div class="text-center">
    <button class="btn btn-primary btn-block showedit" ng-click="eventDetailsCtrl.editing=!eventDetailsCtrl.editing">Edit Event</button>
    <!-- DELETE BUTTON -->
    <button class="btn btn-danger btn-block" ng-click="eventDetailsCtrl.removeEvent(eventDetailsCtrl.event._id)">Delete Event</button>
    <!--  -->
    </div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="eventDetailsCtrl.editing">
    <div class="panel-heading"><h3 class="panel-title">Edit Event</h3></div>
    <div class="panel-body">
      <form class="" ng-submit="eventDetailsCtrl.updateEvent(eventDetailsCtrl.event._id, eventDetailsCtrl.event.date, eventDetailsCtrl.event.category, eventDetailsCtrl.event.amount)">

        <div class="form-group">    
          <input type="date" name="date" ng-model="eventDetailsCtrl.event.date" placeholder="Date" class="form-control">
        </div>

        <div class="form-group">
          <select type="text" name="category" ng-model="eventDetailsCtrl.event.category" class="form-control">
          <option value="Design/UX">Design/UX</option>
          <option value="Development">Development</option>
          <option value="Marketing">Marketing</option>
          <option value="Supplies">Supplies</option>
          <option value="Legal">Legal</option>
          <option value="Admin">Admin</option>
          </select>
        </div>

        <div class="form-group">
          <input type="number" name="amount" ng-model="eventDetailsCtrl.event.amount" placeholder="Amount" class="form-control">
        </div>

        <fieldset ng-model="paid">
          <div class="form-group">
            <input type="radio" name="paid" ng-model="eventDetailsCtrl.event.paid" value="true"><span class="formTitle"> This has been paid.</span>
          </div>

          <div class="form-group">
            <input type="radio" name="paid" ng-model="eventDetailsCtrl.event.paid" value="false"><span class="formTitle"> This has not been paid.</span>
          </div>
        </fieldset>

        <p class="formTitle" id="status">Upload Receipt/Invoice Image</p>
        <img class="img-responsive"  id="preview" src="/images/file.png" />
        <input type="file" id="file_input" ng-model="eventDetailsCtrl.event.invoice" ng-click="eventsCtrl.sthree()"/>  
        <input type="hidden" id="invoice" name="invoice" ng-model="eventDetailsCtrl.event.invoice"/>

        <div class="col-md-4 col-md-offset-4">
          <button type="submit" class="btn btn-primary btn-block">Update Event</button>
        </div>
      </form>
    </div>
  </div>
</div>